.App {
  text-align: center;
}

.App-content {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-content li {
  color: #eee;
  text-decoration: none;
}

.App-content li>a {
  color: #eee;
  text-decoration: none;
}

.menu {
  display: flex;
  flex-direction: column;
}

.menu a{
  color:#eee;
  text-decoration: none;
}

.logo {
  width: 96px;
  padding: 15px;
}